:root {
    --font-color: #ffffff;
    --background-color: #596b7c;
    --figure-color: #e51400;
}

.card-value {
    color: var(--figure-color);
    text-align: center;
}

.row {
    margin: 2rem 0;
}

.card {
    height: 100%;
}

.main-dashboard {
    margin: 2rem 0;
    padding: 2rem 1rem;
}

.sidebar {
    padding: 2rem 1rem;
    background-color: var(--background-color);
    color: var(--font-color);
}