:root {
    --sidebar-font-color: #ffffff;
    --footnote-color: #a1a1a1;
    --background-color: #596b7c;
    --figure-color: #e51400;
}

.card-title {
    height: 2.5rem;
}

.card-value {
    color: var(--figure-color);
    text-align: center;
    font-weight: 700;
    font-size: calc(1rem + 2vw);
}

.row {
    margin: 1rem 0;
}

.card {
    height: 100%;
}

.sidebar {
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--sidebar-font-color);
}

.sidebar a {
    color: var(--sidebar-font-color);
}

.Select-value-label {
    font-size: calc(0.6rem + .2vw);
    line-height: 0;
    padding: 0;
}

.footnote {
    font-size: calc(0.5rem + .3vw);
    color: var(--footnote-color);
}

.footer {
    font-size: calc(0.5rem + .3vw);
}



.title {
    font-size: calc(1rem + 1.25vw);
    font-weight: 700;
}

.dash-dropdown {
    color: black;
}

@media screen and (min-width: 768px) {
    .footer {
        margin-top: 6rem;
    }
    .card-title {
        height: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .card-title {
        height: 5rem;
    }
}